# Local state files
terraform.tfstate.d/

# provider/module directory
.terraform/

# any Terraform plans
*.tfplan

# any files created by Terraform for purpose of deployment
**/files/terraformed/

# log files
*.log

# VSCode settings
.vscode/

# tmp folder
tmp/